101 ICON "icons/dark.ico"
102 ICON "icons/dark_alternate.ico"
103 ICON "icons/dark_mica.ico"
104 ICON "icons/dark_mica_alternate.ico"
105 ICON "icons/light.ico"
106 ICON "icons/light_alternate.ico"
107 ICON "icons/light_mica.ico"
108 ICON "icons/light_mica_alternate.ico"
